<div class="card text-center m-3">
  <div class="card-header bg-secondary font-weight-bold">
    <h4>{{title}}</h4>
  </div>
  <div class="card-body blog-id" id="{{id}}">
    <p class="card-text">{{contents}}</p>
  </div>
  <div class="card-footer text-muted bg-light">
     
    Posted by: {{user.username}} on {{format_date date_created}}
  </div>
</div>




<div class="card text-center m-3">
 <div class="card-header bg-secondary font-weight-bold">
    <h4>Comments</h4>
  </div>
{{#each comments}}
<div class="card text-center m-3"></div>
  <div class="card-body text-center">
    <p class="card-text">{{text}}</p>
  </div>
  <div class="card-footer text-muted bg-light text-center">
     
    Posted by: {{user.username}} on {{format_date date_created}}
    </div>
</div>
</div>
{{/each}}


<div class="card text-center m-3">
  <div class="card-header bg-secondary font-weight-bold">
    <h4>Add a comment</h4>
  </div>
  <div class="mb-3">
    <form class="form new-comment">
  <label for="comment" class="form-label"></label>
  <textarea class="form-control" id="comment" rows="3"></textarea>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div> 

<script src="/js/comment.js"></script>
