{{#if myBlogposts.length}}
  <h1 class="m-2 p2 text-center">Welcome back!</h1>
  <h2 class="m-2 p-2 text-center">Your blogposts:</h2>
  {{else}}
  <h1 class="m-2 p2 text-center">Welcome!</h1>
<h2 class="m-2 p-2 text-center">Create your first blogpost!</h2>
{{/if}}
<div class="blogposts-list"></div>
{{#each myBlogposts as |blogpost|}}


<div class="card text-center mt-5 mb-5 blogpost-list">
  <div class="card-header bg-secondary font-weight-bold">
    <h4><a href="/blogpost/{{blogpost.id}}">{{blogpost.title}}</a></h4>
  </div>
  <div class="card-body">
    <p class="card-text">{{blogpost.contents}}</p>
  </div>
  <div class="card-footer text-muted bg-light">
    Posted on {{format_date blogpost.date_created}}
    <button type="button" class="btn btn-danger" delete-id="{{blogpost.id}}" id="deleteBtn">DELETE</button>
<button type="button" id="updateForm" update-id="{{blogpost.id}}" class= "btn btn-warning"  >UPDATE</button>
  </div>

<div class="d-none card text-center" id="update-form-{{id}}">
  <div class="card-header ">
    <h3>Update Blogpost:</h3>
  </div>
  <div class="card-body">
    <form class="form">
      <div class="form-group">
        <label for="blogpost-title">Blogpost title:</label>
        <textarea class="form-input" type="text" id="update-title-{{id}}" blog-id="{{id}}" name="blogpost-title" placeholder="{{blogpost.title}}" rows="1">{{blogpost.title}}</textarea> 
      </div>
      <div class="form-group">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="update-contents-{{id}}" blog-id="{{id}} "rows="3">{{blogpost.contents}}</textarea>
        <div class="form-group m-3">
          <button type="submit" id="updateBtn" update-id="{{blogpost.id}}" class="btn btn-primary">UPDATE</button>
        </div>
    </form>
  </div>
</div>
</div>


{{/each}}


<div class="card text-center">
  <div class="card-header ">
    <h3>Create a New Blogpost:</h3>
  </div>
  <div class="card-body">
    <form class="form new-blogpost-form">
      <div class="form-group">
        <label for="blogpost-title">Blogpost title:</label>
        <input class="form-input" type="text" id="blogpost-title" name="blogpost-title" placeholder="{{blogpost.title}}"/>
      </div>
      <div class="form-group">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="blogpost-contents" rows="3" >{{blogpost.contents}}</textarea>
        <div class="form-group m-3">
          <button type="submit" class="btn btn-primary" id="new-blogpost-btn">Create</button>
        </div>
    </form>
  </div>
</div>

<script src="/js/dashboard.js"></script>