{{#each blogpost as |blogpost|}}
<div class="card text-center mt-5 mb-5">
  <div class="card-header bg-secondary font-weight-bold">
    <h4><a href="/blogpost/{{blogpost.id}}">{{blogpost.title}}</a></h4>
  </div>
  <div class="card-body">
    <p class="card-text">{{blogpost.contents}}</p>
  </div>
  <div class="card-footer text-muted bg-light">
     
    Posted on {{format_date blogpost.date_created}} by {{user.username}}
  </div>
</div>
{{/each}}
 
  