<div class="card text-center mt-5 mb-5 blogpost-list">
  <div class="card-header bg-secondary font-weight-bold">
    <h4><a href="/blogpost/{{blogpost.id}}">{{blogpost.title}}</a></h4>
  </div>
  <div class="card-body">
    <p class="card-text">{{blogpost.contents}}</p>
  </div>
  <div class="card-footer text-muted bg-light">
    Posted on {{format_date blogpost.date_created}}
    <button type="button" class="btn btn-danger" data-id="{{blogpost.id}}" id="deleteBtn">Delete</button>
    <button type="button" class="btn btn-warning" data-id={{blogpost.id}} id="updateBtn">Update</button>
  </div>
</div>

<div class="card-body">
    <form class="form update-blogpost-form">
      <div class="form-group">
        <label for="blogpost-title">Blogpost title:</label>
        <input class="form-input" type="text" id="blogpost-title" name="blogpost-title" />
      </div>
      <div class="form-group">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="blogpost-contents" rows="3"></textarea>
        <div class="form-group m-3">
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
  </div>
</div>

<script src="./js/dashboard.js"></script>